# Python / Django
__pycache__/
.pytest_cache/
*.py[cod]
*.sqlite3

# Environment
.venv/
.env

# Node / Tailwind
node_modules/

# Django static & media
media/
staticfiles/

# Dependency locks
Pipfile.lock
