[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
drf-spectacular = "*"
djangorestframework-simplejwt = "*"
djangorestframework = "*"
gunicorn = "*"
psycopg2-binary = "*"
dj-database-url = "*"
whitenoise = {extras = ["brotli"], version = "*"}
uvicorn = "*"
python-decouple = "*"
django-storages = {extras = ["boto3"], version = "*"}

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
django-tailwind = "*"
factory-boy = "*"
time-machine = "*"
django-browser-reload = "*"

[requires]
python_version = "3.13"
