[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
drf-spectacular = "*"
python-decouple = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
coverage = "*"
django-tailwind = {extras = ["reload"], version = "*"}

[dev-packages]

[requires]
python_version = "3.13"
